{% extends "Admin/base.html.twig" %}

{% import "Admin/_helper.html.twig" as helper %}

{% block top_js %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
{% endblock %}

{% block main %}
    <script id="products-source" type="application/json">
        {{ items | json_encode | raw }}
    </script>
    <h2>Produits</h2>
    <a href="{{ path('admin_product_new', { listId: list.id }) }}" class="mdc-fab app-fab--absolute" aria-label="Nouvelle liste">
        <span class="mdc-fab__icon material-icons">add</span>
    </a>
    <p>
        <button class="mdc-button mdc-button--unelevated hide" id="confirm-sort">
            <i class="material-icons">sort</i>
            Confirmer nouveau tri
        </button>
        {{ helper.loader('confirm-sort-loader', true, '#999') }}
    </p>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner" id="product-list">
            {% for item in items %}
                <div class="mdc-layout-grid__cell">
                    <div class="mdc-card product-card demo-basic-with-header" id="product-{{ item.id }}">
                        <div class="demo-card__primary handle">
                            <h2 class="demo-card__title mdc-typography mdc-typography--headline6">{{ item.name }}</h2>
                            <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2">{{ item.price }}&nbsp;€</h3>
                        </div>
                        <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
                            <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url(&quot;//{{ item.image }}&quot;);"></div>
                            <div class="demo-card__secondary mdc-typography mdc-typography--body2">
                                {{ item.description }}

                                {% if item.progression is defined %}

                                <div class="mdc-linear-progress" role="progressbar">
                                    <div class="mdc-linear-progress__buffering-dots"></div>
                                    <div class="mdc-linear-progress__buffer"></div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX({{ item.progression }});">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div>
                                    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                        <span class="mdc-linear-progress__bar-inner"></span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <div class="mdc-card__action-buttons">
                                <a class="mdc-button mdc-card__action mdc-card__action--button" href="{{ path('admin_product_edit', { listId: list.id, productId: item.id })}}">
                                    <span class="mdc-button__label">Modifier</span>
                                </a>
                                <a class="mdc-button mdc-card__action mdc-card__action--button" v-if="productEnabled({{ loop.index0 }})" v-on:click="goHref($event, {{ loop.index0 }})" href="{{ path('admin_product_disable', { productId: item.id })}}">Désactiver<span v-html="loader({{ loop.index0 }})"></span></a>
                                <a class="mdc-button mdc-card__action mdc-card__action--button" v-else v-on:click="goHref($event, {{ loop.index0 }})" href="{{ path('admin_product_enable', { productId: item.id })}}">Activer<span v-html="loader({{ loop.index0 }})"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="mdc-layout-grid__cell">
                    <p>Aucun produit.</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mdc-snackbar" data-mdc-auto-init="MDCSnackbar" id="snack">
        <div class="mdc-snackbar__surface">
            <div class="mdc-snackbar__label"
                role="status"
                aria-live="polite">
            </div>
            <div class="mdc-snackbar__actions">
                <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_js %}
    {{ parent() }}
    <script>
    new Vue({
        delimiters: ['${', '}'],
        el: '#product-list' ,
        data () {
            return {
                loading: [],
                products: [],
            }
        },
        created: function () {
            this.products = JSON.parse(document.getElementById('products-source').innerHTML);
            if (null === this.products) {
                this.products = [];
            }
        },
        methods: {
            productEnabled(index) {
                if (this.products[index].enabled === undefined) {
                    return true;
                }

                return this.products[index].enabled;
            },
            goHref(event, index) {
                this.loading.push(index);
                const element = event.target;
                event.preventDefault();
                fetch(element.href, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json',
                    }
                })
                    .then(response => response.json())
                    .then(payload => {
                        this.products[index].enabled = !this.products[index].enabled;
                        openSnackbar('Statut modifié');
                        this.loading.splice(this.loading.indexOf(index), 1);
                    })
                    .catch(error => {
                        openSnackbar('Une erreur est survenue');
                        this.loading.splice(this.loading.indexOf(index), 1);
                    })
                ;
            },
            loader(index) {
                if (this.loading.includes(index)) {
                    return '<span class="loading"><span>';
                }
            }
        }
    });

    new Sortable(document.getElementById('product-list'), {
        handle: '.demo-card__primary', // handle's class
        animation: 150,
        onSort: function (/**Event*/evt) {
            document.getElementById('confirm-sort').classList.remove('hide');
        },
    });
    const confirmSortButton = document.getElementById('confirm-sort');
    confirmSortButton.addEventListener('click', function () { updateSortProductList(this, 'confirm-sort-loader'); });
    function updateSortProductList(e, loaderId) {
        const _this = e;
        const loader = document.getElementById(loaderId);
        if (loader) {
            loader.classList.remove('hide');
        }
        _this.classList.add('hide');

        const newOrder = Array.from(document.querySelectorAll('.product-card')).map((e) => {
            return e.id.replace('product-', '');
        });
        fetch('/bo/listing/{{ list.id }}/sort', {
            method: 'POST',
            headers: {
            'Accept': 'application/json',
            'Content-type': 'application/json',
            },
            body: JSON.stringify({
                product_ids: newOrder
            })
        })
            .then(response => response.json())
            .then(responseJson => {
                loader.classList.add('hide');
                openSnackbar('Nouveau tri pris en compte');
            })
            .catch(error => openSnackbar(error))
        ;
    }
    function openSnackbar(text) {
        const el = document.getElementById('snack');
        el.MDCSnackbar.labelEl_.textContent = text;
        el.MDCSnackbar.open();
    }
    </script>
{% endblock %}
