{% import "Admin/_helper.html.twig" as helper %}

{% use "Admin/_menu.html.twig" %}

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <title>Pour Lili, liste de naissance de Lili Barray</title>
        <meta content="Liste de naissance de Adeline Thudo et Timothée Barray pour leur fille Lili Barray" name="description">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/admin.css">
        {% if app.debug %}
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        {% else %}
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        {% endif %}

        {% block top_js %}
        {% endblock %}
    </head>
    <body class="mdc-typography">
        <header class="mdc-top-app-bar mdc-top-app-bar--dense">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <span class="mdc-top-app-bar__title">Pour Lili</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <div id="choose-list-area">
                        <div v-if="loading">
                            {{ helper.loader('loader-list', false, '#FFF') }}
                        </div>
                        <template
                            v-else
                        >
                            {% if list is defined %}
                                <a class="mdc-button mdc-button--unelevated" href="{{ path('admin_listing_settings', { listId: list.id }) }}">
                                    <i class="material-icons">settings</i>
                                </a>
                            {% endif %}
                            <button class="mdc-button mdc-button--unelevated" id="choose-list">
                                {% if list is defined %}{{ list.name }}{% else %}Vos listes{% endif %}
                            </button>
                            <div class="mdc-menu-surface--anchor" style="display: inline-block">
                                <div class="mdc-menu mdc-menu-surface" data-mdc-auto-init="MDCMenu" id="list-menu">
                                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1"
                                        v-for="list in lists"
                                    >
                                        <li class="mdc-list-item" role="menuitem">
                                            <a :href="list.url" class="mdc-list-item__text">${ list.name }</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </template>
                    </div>
                </section>
            </div>
        </header>
        <main class="mdc-top-app-bar--fixed-adjust">
            <div class="mdc-menu-surface--anchor app-fab--absolute">
                <button id="add-button" class="mdc-fab  mdc-fab--extended">
                    <span class="material-icons mdc-fab__icon">add</span>
                    <span class="mdc-fab__label">Ajouter</span>
                </button>
                <div class="mdc-menu mdc-menu-surface" data-mdc-auto-init="MDCMenu" id="add-menu">
                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                        {% if list is defined %}
                        <li class="mdc-list-item" role="menuitem">
                            <a href="{{ path('admin_product_new', { listId: list.id }) }}" class="mdc-list-item__text">Nouveau produit</a>
                        </li>
                        {% endif %}
                        <li class="mdc-list-item" role="menuitem">
                            <a href="{{ path('admin_listing_new') }}" class="mdc-list-item__text">Nouvelle liste</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if list is defined %}
            <div class="mdc-tab-bar" role="tablist" data-mdc-auto-init="MDCTabBar">
                <div class="mdc-tab-scroller">
                    <div class="mdc-tab-scroller__scroll-area">
                        <div class="mdc-tab-scroller__scroll-content">
                            {% set current_menu_item = 'dashboard' %}
                            <button class="mdc-tab {{ block('menu_active') }}" role="tab" aria-selected="true" tabindex="0">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__icon material-icons" aria-hidden="true">dashboard</span>
                                    <span class="mdc-tab__text-label">Tableau de bord</span>
                                </span>
                                <span class="mdc-tab-indicator {{ block('menu_indicator_active') }}">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                        </div>
                        <div class="mdc-tab-scroller__scroll-content">
                            {% set current_menu_item = 'products' %}
                            <a href="{{ path('admin_listing_show', { listId: list.id }) }}" class="mdc-tab {{ block('menu_active') }}" role="tab" aria-selected="true" tabindex="0">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__icon material-icons" aria-hidden="true">shopping_cart</span>
                                    <span class="mdc-tab__text-label">Produits</span>
                                </span>
                                <span class="mdc-tab-indicator {{ block('menu_indicator_active') }}">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </a>
                        </div>
                        <div class="mdc-tab-scroller__scroll-content">
                            {% set current_menu_item = 'contributions' %}
                            <a href="{{ path('admin_contribution_index', { listId: list.id }) }}" class="mdc-tab {{ block('menu_active') }}" role="tab" aria-selected="true" tabindex="0">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__icon material-icons" aria-hidden="true">monetization_on</span>
                                    <span class="mdc-tab__text-label">Contributions</span>
                                </span>
                                <span class="mdc-tab-indicator {{ block('menu_indicator_active') }}">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </a>
                        </div>
                        <div class="mdc-tab-scroller__scroll-content">
                            {% set current_menu_item = 'guestbook' %}
                            <button class="mdc-tab {{ block('menu_active') }}" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">insert_comment</span>
                                <span class="mdc-tab__text-label">Livre d'or</span>
                            </span>
                            <span class="mdc-tab-indicator {{ block('menu_indicator_active') }}">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="main-content">
            {% block main %}
            {% endblock %}
            </div>
        </main>

        {% block end_js %}
        <script>
            new Vue({
                delimiters: ['${', '}'],
                el: '#choose-list-area' ,
                data () {
                    return {
                        lists: null,
                        loading: true,
                        errored: false
                    }
                },
                mounted () {
                    fetch('/bo/listing', {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-type': 'application/json',
                        }
                    })
                        .then(response => response.json())
                        .then(responseJson => {
                           this.lists = responseJson;
                           this.loading = false;
                        })
                        .then(e => {
                            window.mdc.autoInit();
                            const chooseList = document.getElementById("choose-list");
                            chooseList.addEventListener('click', function () {
                                const menu = document.getElementById('list-menu');
                                menu.MDCMenu.menuSurface_.open();
                            });
                        })
                        .catch(error => console.log(error))
                    ;
                }
            });
            window.mdc.autoInit();
            const chooseList = document.getElementById("add-button");
            chooseList.addEventListener('click', function () {
                const menu = document.getElementById('add-menu');
                menu.MDCMenu.menuSurface_.open();
            });
        </script>
        {% endblock %}
    </body>
</html>
