{% extends "Admin/base.html.twig" %}

{% block main %}
    {% block main_title %}
        <h2>Nouveau produit</h2>
    {% endblock %}
    {{ form_start(form) }}
    <div>
        <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
            {{ form_widget(form.name, { attr: { class: "mdc-text-field__input" }}) }}
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">{{ form_label(form.name, null, { label_attr: { class: "mdc-floating-label" }}) }}</div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
            {{ form_widget(form.price, { attr: { class: "mdc-text-field__input" }}) }}
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">{{ form_label(form.price, null, { label_attr: { class: "mdc-floating-label" }}) }}</div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
            {{ form_widget(form.image, { attr: { class: "mdc-text-field__input" }}) }}
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">{{ form_label(form.image, null, { label_attr: { class: "mdc-floating-label" }}) }}</div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea" data-mdc-auto-init="MDCTextField">
            {{ form_widget(form.description, { attr: { class: "mdc-text-field__input" }}) }}
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">{{ form_label(form.description, null, { label_attr: { class: "mdc-floating-label" }}) }}</div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
    </div>
    <div>
        <button class="mdc-button mdc-button--unelevated" type="submit">Ajouter</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
